html {
  height: 100%;
}

body {
  background-image: url('./assets/wallpaperbette.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  height: 100%;
}

#root {
  height: 100%;
  z-index: 0;
}