* {
  box-sizing: border-box;
}

body {
  margin: 0 0 0 0;
}

#root {
  z-index: 0;
}

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, .5) !important;
}

.ReactModal__Content {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 400px;
  padding: 20px 20px 60px 20px !important;
}