* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: inherit;
  margin: 0 0 0 0;
  background-image: url('./assets/wallpaperbette.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}

#root {
  height: inherit;
  z-index: 0;
}