* {
  box-sizing: border-box;
}

body {
  margin: 0 0 0 0;
}

#root {
  z-index: 0;
}

.ReactModal__Overlay {}

.ReactModal__Content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 500px;
}